body {
    font-family: 'Roboto', sans-serif;
    background-image: url('https://i.pinimg.com/564x/37/ca/be/37cabef5337f9e4eb38935df003a05b0.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.home-link {
    display: block;
    text-align: center;
    margin: 20px 0;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    background: linear-gradient(45deg, dodgerblue, deepskyblue);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.home-link:hover {
    background: linear-gradient(45deg, gray, darkgray);
}

.projects-title {
    text-align: center;
    font-size: 7em;
    margin-top: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(4, 61, 182, 0.5);
}

.projects-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.project {
    text-align: center;
    margin: 20px;
    padding: 40px;
    width: 300px;
    height: 350px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: dodgerblue;
    color: white;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4), 0 0 20px rgba(0, 0, 0, 0.2);
}

.project img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.project:hover img {
    transform: scale(1.1);
}

.project h3 {
    margin: 20px 0 10px;
    font-size: 1.6em;
}

.project h3 a {
    color: black;
    text-decoration: none;
}

.project p {
    font-size: 1em;
    margin: 0;
    line-height: 1.6;
}

.special {
    background-color: dodgerblue;
    color: white;
}

.special h3, .special p {
    color: white;
}
